@model string

<html>
<body>
    <form action="softmovel:OpenPage2?">
        <label>Email</label>
        <input name="Email" type="text" />
        <label>Senha</label>
        <input name="Password" type="text" />
        <button type="submit">Logar</button>
    </form>
    <br>
</body>
</html>