@model ExemploSoftmovel.Models.User
<html>
<head>
    <link href="Style.css" type="text/css" rel="stylesheet" />
    <style>
        .label-senha {
            color: antiquewhite;
        }
    </style>
</head>
<body class="background">
    <!--<input type="Text" name="Name" value="Model.Name" />-->
    <h1 class="message">Bem-vindo, @Model.Name!</h1>
</body>
</html>
